{% extends 'back/base.html.twig' %}

{% block body %}
    <h1>SousCategorie</h1>

    <table class="table table-dark table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sous_categorie.id }}</td>
            </tr>
            <tr>
                <th>NomSousCategorie</th>
                <td>{{ sous_categorie.nomSousCategorie }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ sous_categorie.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_sous_categorie_index') }}">back to list</a>

    <a href="{{ path('app_admin_sous_categorie_edit', {'id': sous_categorie.id}) }}">edit</a>

    {{ include('back/pages/sous_categorie/_delete_form.html.twig') }}
{% endblock %}
